<!-- tab1.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>ប្រតិទិនកូនខ្មែរ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex flex-col md:flex-row gap-4 p-4">

    <!-- Calendar -->
    <div class="calendar-section">
      <app-calendar (dayClicked)="onDayClick($event)"></app-calendar>
    </div>

    <!-- Holidays sidebar -->
    <!-- <div class="sidebar-section">
      <app-holidays-list></app-holidays-list>
    </div> -->

  </div>

  <!-- Day Detail Modal -->
  <ion-modal
    [isOpen]="isModalOpen"
    (didDismiss)="closeModal()"
    [breakpoints]="[0, 0.5, 0.9]"
    [initialBreakpoint]="0.9"
    handle="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>ព័ត៌មានលម្អិត</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
              <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ng-container *ngIf="modalDetail">

          <div class="modal-date-header">
            <h4 class="modal-date-title">
              {{ formatKhDate(modalDetail.date) }},
              {{ formatEnDate(modalDetail.date) }}
            </h4>
            <p class="modal-lunar-date">
              {{ getDateKhmerLunar(modalDetail.date) }}
            </p>
          </div>

          <ion-list *ngIf="modalDetail.attributes?.length" lines="none">
            <ion-item
              *ngFor="let attr of modalDetail.attributes"
              [class.holiday-item]="isHoliday(attr)"
              [class.general-item]="!isHoliday(attr)"
            >
              <ion-icon
                [name]="isHoliday(attr) ? 'flag' : 'calendar'"
                slot="start"
                [color]="isHoliday(attr) ? 'danger' : 'primary'"
              ></ion-icon>
              <ion-label class="ion-text-wrap">
                {{ getAttributeKhTitle(attr) }}
              </ion-label>
            </ion-item>
          </ion-list>

          <div *ngIf="!modalDetail.attributes?.length" class="no-events">
            <ion-icon name="calendar-outline" color="medium"></ion-icon>
            <p>No events on this day</p>
          </div>

        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>